<div class="container">
  <h3> 
    {{ title }}
  </h3>

  <button id="bottone_per_ricerca" class="Home_button" (click)="formRicerca()" *ngIf="!mostraRicerca && !mostraInserimento">Esegui Ricerca</button>
  <app-ricerca [mostraRicerca]="mostraRicerca" (closeSearchEvent)="closeSearch()"></app-ricerca>

  <button id="bottone_per_inserimento" class="Home_button"(click)="formInserimento()" *ngIf="!mostraRicerca && !mostraInserimento">Inserisci nuovo libro in archivio</button>
  <app-inserisci [mostraInserimento]="mostraInserimento" (closeInserisciEvent)= "closeInserisci()"></app-inserisci>

</div>