<div *ngIf="One_result  && !Prestato">
  <button class="style_home_button" id="Prendi_prestito" >Prendi in prestito</button>
  <button class="style_home_button" id="Prendi_prestito" >Cancella libro dall'archivio</button>

<!--<input type="text" id="input_ricerca" (input)="search()" placeholder="Inserisci titolo o autore" class=input-field> -->

<!--<div id="risultato" class="container risultato">{{ risultatoRicerca }} </div>-->

</div>

<div *ngIf="One_result && Prestato">
<button class="style_home_button" id="lascia_prestito" >Restituisci il libro</button>

<!--<input type="text" id="input_ricerca" (input)="search()" placeholder="Inserisci titolo o autore" class=input-field> -->

<!--<div id="risultato" class="container risultato">{{ risultatoRicerca }} </div>-->

</div>