 <!-- se la ricerca ha prodotto un solo match e quel libro non è in prestito mostro i bottoni per cancellarlo o prenderlo in prestito-->
<div *ngIf="One_result  && !Prestato">
  
  <!-- se i messaggi di successo e fallimento sono entrambi contemporaneamente undefined mostro i bottoni per cancellare o prendere in prestito-->
  <button class="style_home_button" id="Prendi_prestito" *ngIf="successMessage === undefined && errorMessage === undefined" (click)="InputPresta()">Prendi in prestito</button>

  <button class="style_home_button" id="cancella_libro" (click)="cancella_libro()" *ngIf="successMessage === undefined && errorMessage === undefined">
    Cancella libro dall'archivio
  </button>

  <div class="container prestito" *ngIf="InputPrestaBook">
    <label for="clienteInput">Inserisci nominativo cliente: </label>
    <input class="input-field" type="text" id="clienteInput" [(ngModel)]="clientInputValue">
    <button class="style_home_button invia" (click)="Presta()">Invia</button>
  </div>
  
  <!-- se il messaggio di successo è diverso da undefined mostro il messaggio di successo-->

  <div *ngIf="successMessage !== undefined " class="container successMsg">
    {{ successMessage }}
  </div>
  
   <!-- se il messaggio di errore è diverso da undefined mostro il messaggio di errore-->

  <div *ngIf="errorMessage !== undefined " class="container errorMsg">
    {{ errorMessage }}
  </div>

</div>

 <!-- se la ricerca ha prodotto un solo match e quel libro è in prestito mostro il bottone per restituirlo-->
<div *ngIf="One_result && Prestato">
  
  <button  *ngIf="InputRestituisciBook" class="style_home_button" id="lascia_prestito"  (click)="Restituisci()">Restituisci il libro</button>

    <!-- se il messaggio di successo è diverso da undefined mostro il messaggio di successo-->

    <div *ngIf="successMessage !== undefined " class="container successMsg">
      {{ successMessage }}
    </div>
    
     <!-- se il messaggio di errore è diverso da undefined mostro il messaggio di errore-->
  
    <div *ngIf="errorMessage !== undefined " class="container errorMsg">
      {{ errorMessage }}
    </div>

</div>