<div class="container" *ngIf="mostraRicerca">

  <p> Inserisci un titolo o un autore da ricercare:</p>

  <input type="text" id="input_ricerca" (input)="search()" placeholder="Inserisci titolo o autore" class=input-field> 

  <div id="risultato" class="container risultato">{{ risultatoRicerca }} </div>
  
  <!--Passo al component figlio (prestiti) queste variabili-->
  <app-prestiti [One_result]="One_result" [Prestato]="Prestato" [Book_found]="Book_found" [archivio]="archivio"></app-prestiti>
  
  <button class="style_home_button indietro" (click)="clean()">Indietro</button>
  
</div>

