.container {
  background-color: beige;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 3%;
  position: relative;
}
.container.risultato{
  white-space: pre-line;
  margin-bottom: 30px; /* Regola la distanza dal bordo superiore del contenitore */
}

.input-field {
  width: 40vw;
  padding: 10px;
  border: none;
  border-radius: 10px;
  font-size: 14px;
  margin-bottom: 15px;
}

.input-field:focus {
  outline: none;
  border-color: #007bff;
}

.style_home_button {
  padding: 10px 20px;
  background-color: rgb(236, 226, 218);
  color: rgb(110, 62, 20);
  border-radius: 5px;
  border: rgb(110, 62, 20);
  margin-top: 1%; /* Aggiunge spazio verso l'alto di 10px */ 
}
.style_home_button:hover {
  background-color: rgb(110, 62, 20);
  color: beige;
}

.style_home_button:focus {
  outline: none;
}

.style_home_button.indietro {
  margin-left: auto;
  margin-top: 20px;
  display: flex;
  justify-content: flex-end;
}