/* Definisco style container dei contenuti di ricerca */
.container {
  background-color: beige;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 3%;
  position: relative;
}

/* Definisco style sottoclasse di container che contiene il risultato della ricerca */
.container.risultato{
  white-space: pre-line;
  margin-bottom: 30px;
}

/* Definisco style del campo di input della ricerca */
.input-field {
  width: 40vw;
  padding: 10px;
  border: none;
  border-radius: 10px;
  font-size: 14px;
  margin-bottom: 15px;
}

/* Definisco style dei bottoni generici */
.style_home_button {
  padding: 10px 20px;
  background-color: rgb(236, 226, 218);
  color: rgb(110, 62, 20);
  border-radius: 5px;
  border: rgb(110, 62, 20);
  margin-top: 1%;
}

/* Definisco style dei bottoni al passaggio del cursore */
.style_home_button:hover {
  background-color: rgb(110, 62, 20);
  color: beige;
}

/* Definisco style del bottone per tornare indietro (sottoclasse del bottone generico) */
.style_home_button.indietro {
  margin-left: auto;
  margin-top: 20px;
  display: flex;
  justify-content: flex-end;
}