.container {
  background-color: beige;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 20px;
}

.input-field {
  width: 200px;
  padding: 10px;
  border: none;
  border-radius: 10px;
  font-size: 14px;
}

.input-field:focus {
  outline: none;
  border-color: #007bff;
}


.style_home_button {
  margin-bottom: 20px; /* Aggiungi 20px di spazio in basso */
  float: right;
}