<div class="container" *ngIf="mostraInserimento">

  <p> Inserisci i dati del nuovo testo:</p>
  <form (ngSubmit)="formInserimento()" #myForm="ngForm">
    <div>
      <label for="titolo">Titolo:</label>
      <input class="input-field" type="text" id="titolo" name="titolo" placeholder="campo obbligatorio*" [(ngModel)]="book.titolo" required>
    </div>
  
    <div>
      <label for="autore">Autore:</label>
      <input class="input-field" type="text" id="autore" name="autore" placeholder="campo obbligatorio*"  [(ngModel)]="book.autore" required>
    </div>
  
    <div>
      <label for="posizione">Posizione:</label>
      <input class="input-field" type="text" id="posizione" name="posizione" placeholder="campo obbligatorio*"  [(ngModel)]="book.posizione" required>
    </div>
  
    <div>
      <button class="style_home_button submit" type="submit" [disabled]="!myForm.form.valid">Invia</button>
    </div>
  </form>
  
  
  <button class="style_home_button indietro" (click)="clean()">Indietro</button>
</div>
