.container {
  background-color: beige;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 10%;
  position: relative;
}

.container.successMsg{
  background-color: rgb(62, 190, 62);

}

.container.errorMsg{
  background-color: rgb(222, 99, 99);

}

.input-field {
  width: 70%;
  padding: 10px;
  border: none;
  border-radius: 10px;
  font-size: 14px;
  margin-bottom: 20px;
}

.style_bottoni {
  margin-right: 10px;
  margin-bottom: 20px;
}

.style_home_button {
  padding: 10px 20px;
  background-color: rgb(236, 226, 218);
  color: rgb(110, 62, 20);
  border-radius: 5px;
  cursor: pointer;
  border: rgb(110, 62, 20);

}

.style_home_button:hover {
  background-color: rgb(110, 62, 20);
  color: beige;
}

.style_home_button:focus {
  outline: none;
}

.style_home_button.indietro{
  float: right;
}

.style_home_button.submit:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.style_home_button.submit:enabled {
  background-color: rgb(110, 62, 20);
  color: beige;
  /* Altri stili per il pulsante abilitato */
}

.input-container {
  display: flex;
  align-items: center;
}

.input-container label {
  width: 100px; /* Larghezza desiderata per le etichette */
}

.input-container input {
  flex: 1; /* Occupa lo spazio rimanente */
  margin-left: 10px; /* Margine sinistro tra l'etichetta e l'input */
}