.container {
  background-color: beige;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 20px;
  position: relative;
}

.input-field {
  width: 70%;
  padding: 10px;
  border: none;
  border-radius: 10px;
  font-size: 14px;
  margin-bottom: 20px;
}

.input-field:focus {
  outline: none;
  border-color: #007bff;
}

.style_bottoni {
  margin-right: 10px;
  margin-bottom: 20px;
}

.style_home_button {
  padding: 10px 20px;
  background-color: rgb(236, 226, 218);
  color: rgb(110, 62, 20);
  border-radius: 5px;
  cursor: pointer;
  border: rgb(110, 62, 20);
  margin-top: 10px; /* Aggiunge spazio verso l'alto di 10px */
  margin-bottom: 10px; /* Aggiunge spazio verso il basso di 10px */
}

.style_home_button:hover {
  background-color: rgb(110, 62, 20);
  color: beige;
}

.style_home_button:focus {
  outline: none;
}